In [83]:
from pandas_datareader import data
import datetime
from bokeh.plotting import figure, show, output_file

In [118]:
start = datetime.datetime(2022,1,1)
end = datetime.datetime(2022,1,14)

df=data.DataReader(name="FB",data_source="yahoo", start=start, end=end) 
df

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2022-01-03,341.079987,337.190002,338.299988,338.540009,14537900,338.540009
2022-01-04,343.089996,331.869995,339.950012,336.529999,15998000,336.529999
2022-01-05,335.760010,323.839996,333.019989,324.170013,20564500,324.170013
2022-01-06,339.170013,322.720001,322.820007,332.459991,27962800,332.459991
2022-01-07,337.000000,328.880005,332.739990,331.790009,14711400,331.790009
2022-01-10,328.339996,315.429993,325.309998,328.070007,24942400,328.070007
2022-01-11,334.630005,325.279999,326.779999,334.369995,16226800,334.369995
2022-01-12,336.369995,330.029999,335.179993,333.260010,14104900,333.260010
2022-01-13,335.630005,325.760010,334.980011,326.480011,14797100,326.480011
2022-01-14,332.730011,321.209991,321.790009,331.899994,16853900,331.899994

In [119]:
# data.DataReader?

In [120]:
# df.index

In [121]:
# df["Open"]

In [122]:
# df.Open

In [123]:
# df.index[df.Close > df.Open] #list of days when close is greater than open

In [124]:
#you can use these variables instead of typing it directly
date_increase = df.index[df.Close > df.Open]
date_decrease= df.index[df.Close < df.Open]

In [125]:
#we made a fn that takes values of close and open 
#it prints increase when close is >, decrease when Open is < or =
def inc_dec(c, o):
    if c > o:
        value = "Increase"
    elif c < o:
        value = "Decrease"
    else:
        value="Equal"
    return value

#we are creating a new column, status but through iteration
#for each of the values in colum close and open pass those values to our fn
df["Status"]=[inc_dec(c, o) for c, o in zip(df.Close, df.Open)]

In [126]:
df["Middle"] = (df.Open + df.Close)/2
df["Height"] = abs(df.Close - df.Open)
df

,High,Low,Open,Close,Volume,Adj Close,Status,Middle,Height
Date,,,,,,,,,
2022-01-03,341.079987,337.190002,338.299988,338.540009,14537900,338.540009,Increase,338.419998,0.240021
2022-01-04,343.089996,331.869995,339.950012,336.529999,15998000,336.529999,Decrease,338.240005,3.420013
2022-01-05,335.760010,323.839996,333.019989,324.170013,20564500,324.170013,Decrease,328.595001,8.849976
2022-01-06,339.170013,322.720001,322.820007,332.459991,27962800,332.459991,Increase,327.639999,9.639984
2022-01-07,337.000000,328.880005,332.739990,331.790009,14711400,331.790009,Decrease,332.264999,0.949982
2022-01-10,328.339996,315.429993,325.309998,328.070007,24942400,328.070007,Increase,326.690002,2.760010
2022-01-11,334.630005,325.279999,326.779999,334.369995,16226800,334.369995,Increase,330.574997,7.589996
2022-01-12,336.369995,330.029999,335.179993,333.260010,14104900,333.260010,Decrease,334.220001,1.919983
2022-01-13,335.630005,325.760010,334.980011,326.480011,14797100,326.480011,Decrease,330.730011,8.500000
2022-01-14,332.730011,321.209991,321.790009,331.899994,16853900,331.899994,Increase,326.845001,10.109985

In [132]:
# df.Status=="Increase"
# df.Status=="Decrease"
# p.rect?
p.segment?

In [134]:
p=figure(x_axis_type='datetime', width=1000, height=300)
p.title="Candlestick Chart"
p.grid.grid_line_alpha=0.3 #controlling grid

##x0 = date,  y0 = df.High 
##x1 = date, y1 = df.low
##segment first so as to allow rect to come in front
p.segment(df.index, df.High, df.index, df.Low, color='black') 

hours_12 = 12*60*60*1000

##hardcodding the statement
# p.quad(df.index[df.Close > df.Open], (df.Open + df.Close)/2,
#        hours_12, abs(df.Open-df.Close), fill_color="green", line_color="black")

# p.quad(df.index[df.Close < df.Open], (df.Open + df.Close)/2,
#        hours_12, abs(df.Open-df.Close), fill_color="green", line_color="black")

##using variables to hold the diff of the values of the close and open cell
# p.quad(date_increase, (df.Open + df.Close)/2,
#        hours_12, abs(df.Open-df.Close), fill_color="green", line_color="black")

# p.quad(date_decrease, (df.Open + df.Close)/2,
#        hours_12, abs(df.Open-df.Close), fill_color="green", line_color="black")

##for when Close > Open the first instance will apply else the second does
##x is datetime object of open or close
##y is value of open and close on a particular date
##width is a point on y, where close and open values averages which was used as width
##height is the difference on y, values of open and close that's is a difference of open and close 
p.rect(df.index[df.Status=="Increase"], df.Middle[df.Status=="Increase"],
       hours_12, df.Height[df.Status=='Increase'], fill_color="#ff4000", line_color="black")

p.rect(df.index[df.Status=="Decrease"], df.Middle[df.Status=="Decrease"],
       hours_12, df.Height[df.Status=='Decrease'], fill_color="#00ff00", line_color="black")

output_file("cs.html")
show(p)

ERROR:bokeh.core.validation.check:E-1001 (BAD_COLUMN_NAME): Glyph refers to nonexistent column name. This could either be due to a misspelling or typo, or due to an expected column being missing. : key "fill_color" value "#ff4000	" [renderer: GlyphRenderer(id='6141', ...)]

In [135]:
# import pandas_datareader as pdr
# pdr.get_data_fred('GS10') #THIS TOO WORKS